cat > .gitignore <<'EOF'
# Xcode
DerivedData/
build/
*.xcuserdatad/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.xcuserstate

# SwiftPM
.swiftpm/
.build/

#
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
*.DS_Store
xcuserdata/
EOF
